@import "https://fonts.googleapis.com/css2?family=Caveat";
@import url('https://fonts.googleapis.com/css2?family=Caveat');

.boxcontainer {
background: none;
margin-left: auto;
margin-right: auto;
width: 620px;
height: auto;
}

.scrollBoxLeft, .scrollBoxRight, .scrollBoxCenter {
background: rgba(34,42,48);
width: 300px;
height: 400px;
border: 0px dashed #FFFFFF;
border-radius: 10px;
padding: 1px;
color: #FFFFFF;
text-align: center;
margin-bottom: 1%;
overflow: auto;
}

.scrollBoxLeft {
  float: left;
}

.scrollBoxRight {
  float: right;
}

.scrollBoxCenter {
  float: center;
}


::-webkit-scrollbar {
width: 10px;}
 
::-webkit-scrollbar-track {
background-color: #D9DDE1;}
 
::-webkit-scrollbar-thumb {
background-color: #06131D;
border-radius: 0px;
border: none;}

* {cursor: url(https://i.postimg.cc/wTJt7Sjt/Untitled14.webp), auto !important;}

body 
{
background:url("https://i.postimg.cc/VLypcHZn/image-(17).webp");
background-attachment:fixed;
background-size:100%;
 font-family: 'Caveat';
color:#D9DDE1!important;
text-shadow:0px 0px 0px (255,255,255);
}
/* CIRCULAR LION AND USER AVATAR */
div#lion_image {
    border-radius: 50% !important;
    overflow: hidden;
    margin-top: 15px; /* May need adjusting */
    margin-left: 12px /* May need adjusting */
}
table#player img {
    border-radius: 50% !important;
    overflow: hidden
}

.col-md-3 .panel {
    background: rgba(6,19,29, 0.5);
    color: black;
    border: 0px solid white;
    box-shadow: 0px 0px 0px #FFFFFF;}

.badge {background: #D9DDE1;color: #06131D;}
.alert-danger {background: rgba(0,0,0);color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);border: none;text-align: Left;}
.alert-success {background: rgba(0,0,0);color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);border: none;text-align: Left;}
.center.b {color:#D9DDE1;}
 
 
h1 {color:#D9DDE1;text-align:center;font-family: 'Caveat';font-size:60px!important;text-shadow: 0px 0px 0px (255,255,255)}

h1 {color:#D9DDE1;text-align:center;font-family: 'Caveat';font-size:30px!important;text-shadow: 0px 0px 0px (255,255,255);}



h1 small a:link 
{color:#D9DDE1!important;}
 
h1 small a:visited 
{color:#D9DDE1!important;} 
 
h1 small a:hover
{color:#D9DDE1!important; text-shadow: 0px 0px 0px (255,255,255);}  
 
h1 small a:active 
{color:#D9DDE1!important;}  

 
h2 {color:#D9DDE1!important;text-align:center;font-family: 'Caveat';font-size:30px;text-shadow: 0px 0px 0px (255,255,255);}
 
h3 {color:#D9DDE1!important;text-align:center;font-family:'Caveat';font-size:30px;text-shadow: 0px 0px 0px (255,255,255);}

.sidebar h3 {color:#D9DDE1!important;text-align:center;font-family:'Caveat';font-size:30px;text-shadow: 0px 0px 0px (255,255,255);}

 
td {background:#222A30 !important;
color:#222A30!important;}
 
td.right {background:#222A30!important;color:#D9DDE1!important;border-color:#D9DDE1;}

td.right a:link {color:#D9DDE1!important;
transition: 2.0s!important;}
td.right a:visited {color:#D9DDE1!important;transition: 2.0s!important;} 
td.right a:active {color:#D9DDE1!important;transition: 2.0s!important;} 
td.right a:hover {color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);transition: 0.8s!important;}


td.right_odd {background:#222A30!important;color:#D9DDE1!important;}

td.right_odd a:link {color:#D9DDE1!important;
transition: 2.0s!important;}
td.right_odd a:visited {color:#D9DDE1!important;transition: 2.0s!important;} 
td.right_odd a:active {color:#D9DDE1!important;transition: 2.0s!important;} 
td.right_odd a:hover {color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);transition: 0.8s!important;}
 
td.left {background:#06131D!important;color:#D9DDE1!important;border-color:#D9DDE1;}
td.left.b {background:#06131D!important;color:#D9DDE1!important;border-color:#D9DDE1;}
 
td.right_cub {background:#06131D!important;color:#D9DDE1!important;}

td.right_cub a:link {color:#D9DDE1!important;
transition: 2.0s!important;}
td.right_cub a:visited {color:#D9DDE1!important;transition: 2.0s!important;} 
td.right_cub a:active {color:#D9DDE1!important;transition: 2.0s!important;} 
td.right_cub a:hover {color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);transition: 0.8s!important;}
 
.featured-lion {background:#06131D!important;color:#D9DDE1!important;border-color:#D9DDE1!important;}
.featured-lion a:active {color: #06131D!important;text-shadow: 0px 0px 0px (255,255,255);}
.featured-lion a:visited {color: #06131D!important;text-shadow: 0px 0px 0px (255,255,255);}
 
 
td.top {
background:#06131D!important;color:#D9DDE1!important;text-align:center;
}
 
th {
background:#06131D!important;color:#D9DDE1!important;text-align:center;
}
 
td.bottom {
background:#06131D!important;color:#D9DDE1!important;text-align:center;
}
 
 
div.left {background:#06131D!important;color:#D9DDE1!important;}
 
 
a:link {color:#D9DDE1!important;
transition: 2.0s!important;}
a:visited {color:#D9DDE1!important;transition: 2.0s!important;} 
a:active {color:#D9DDE1!important;transition: 2.0s!important;} 
a:hover {color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);transition: 0.8s!important;}

.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {border-bottom: 0px solid #FFFFFF;}

div.left a {
    color: #06131D;}
 
.table a:link 
{
color:#D9DDE1!important;
transition: 2.0s!important;
}

.table {
    border: 0px solid #FFFFFF;
}
  
.table a:visited 
{
color:#D9DDE1!important;
} 
 
.table a:hover
 {
color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);
transition: 0.8s!important;
}
 
.table a:active 
{
color:#D9DDE1!important;
}  
 
 
.sidebar {background:rgba(6,19,29, 0.5)!important;color:#D9DDE1;border:0px solid black;}
 
.panel-body.small {background: rgba(217,221,225, 0.5);color:#D9DDE1;box-shadow:none;border:0px solid black;}

.panel-body.small a:link {
color:#D9DDE1!important;
transition: 2.0s!important;
}

.panel-body.small a:visited {
color:#D9DDE1!important;
transition: 2.0s!important;
}

.panel-body.small a:active {
color:#D9DDE1!important;
transition: 2.0s!important;
}

.panel-body.small a:hover {
color:#D9DDE1!important;
transition: 0.8s!important;
text-shadow: 0px 0px 0px (255,255,255)
}

.panel {
    background: none;
    color: none;
    border: none;
    box-shadow: 0px 0px 0px #FFFFFF;}

 
.xsmall {background: none;}
.item {
    background: none;
    border: 0px solid #FFFFFF;}

.item-footer {
    padding: 3px;
    font-size: 11px;
    color: #06131D;
    font-weight: bold;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #081336;
    margin-top: 9px;}
 
.chatContainer {border:0px solid #FFFFFF;}
 
.chat_light {color:#22319C;background:#222A30;border-bottom:0px solid rgba(34,42,48,0.5);}

.chat_light a:link {color:#D9DDE1!important;
transition: 2.0s!important;font-weight: bold;}
.chat_light a:visited {color:#D9DDE1!important;transition: 2.0s!important;font-weight: bold;} 
.chat_light a:active {color:#D9DDE1!important;transition: 2.0s!important;font-weight: bold;} 
.chat_light a:hover {color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);transition: 0.8s!important;font-weight: bold;}
 
.chat_dark {color:#06131D;background:#222A30;border-bottom:0px solid rgba(34,42,48,0.5);}

.chat_dark a:link {color:#D9DDE1!important;
transition: 2.0s!important;font-weight: bold;}
.chat_dark a:visited {color:#D9DDE1!important;transition: 2.0s!important;font-weight: bold;} 
.chat_dark a:active {color:#D9DDE1!important;transition: 2.0s!important;font-weight: bold;} 
.chat_dark a:hover {color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);transition: 0.8s!important;font-weight: bold;}
 
 
.topbar {background:#000000; color: #D9DDE1;}
.topbar a:link 
{color:#D9DDE1;
transition: 0.5s;}
 
.topbar a:visited 
{color:#222A30;} 
 
.topbar a:hover
{color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);
transition: 0.5s!important;}
 
.topbar a:active 
{color:#D9DDE1!important;}  
 
input[type="submit"] {
background:#222A30;
color:#D9DDE1;
border: 0px solid #FFFFFF;
transition: 1.0s!important;
text-shadow:none;
box-shadow:none;}
 
input[type="submit"]:hover {
background:#222A30;
color:#D9DDE1;
border: 0px solid #FFFFFF;
transition: 1.0s!important;
text-shadow:none;
box-shadow:none;}
 
input[type="button"] {
background:#222A30;
color:#06131D;
border: 1px solid #FFFFFF;
transition: 1.0s!important;
text-shadow:none;
box-shadow:none;}
 
input[type="button"]:hover {
background:#06131D;
color:#06131D;
border: 0px solid #FFFFFF;
transition: 1.0s!important;
text-shadow:none;
box-shadow:none;}
 
.cave-grid {background:#222A30;border:0px solid #FFFFFF;}
.mound-grid {background:#222A30;border:0px solid #FFFFFF;}

.cave-grid a:link {color:#222A30!important;
transition: 2.0s!important;}
.cave-grid a:visited {color:#222A30!important;transition: 2.0s!important;} 
.cave-grid a:active {color:#222A30!important;transition: 2.0s!important;} 
.cave-grid a:hover {color:#FFFFFF!important;
text-shadow: 0px 0px 0px (255,255,255);transition: 0.8s!important;}

.mound-grid a:link {color:#222A30!important;
transition: 2.0s!important;}
.mound-grid a:visited {color:#222A30!important;transition: 2.0s!important;} 
.mound-grid a:active {color:#222A30!important;transition: 2.0s!important;} 
.mound-grid a:hover {color:#FFFFFF!important;
text-shadow: 0px 0px 0px (255,255,255);transition: 0.8s!important;}


.sub_menu {background:#222A30;color:#06131D;border:0px solid #FFFFFF;}
.sub_menu a:link, .sub_menu a:visited, .sub_menu a:active, .sub_menu a:hover {
    color: #222A30;}
.sub_menu_item_selected {
    background: #222A30;
    color: #FFFFFF;
    padding: 10px 15px;
    float: left;
    font-weight: bold;}

.feature {background:#222A30!important;color:#06131D!important;border:0px solid #FFFFFF!important;}

 
.navbar
{background:#06131D;color:#D9DDE1!important;font-size:18px!important;font-family:'Caveat'!important;text-align:center;}
 
.navbar-default .navbar-nav > li > a {background:#06131D;color:#D9DDE1!important;font-family: 'Caveat';font-size:22px!important;text-align:center;}
.navbar-default .navbar-nav > li > a:hover {background:#06131D;color:#D9DDE1!important;font-family: 'Caveat';text-shadow: 0px 0px 0px (255,255,255);font-size:24px!important;transition: 0.5s!important;text-align:center;}
 
 
.breadcrumb {background: rgba(6,19,29);color:#06131D!important;border: none;}

.breadcrumb>.active {
    color: #D9DDE1;}

.breadcrumb a:link {color:#D9DDE1!important;
transition: 2.0s!important;}
.breadcrumb a:visited {color:#D9DDE1!important;transition: 2.0s!important;} 
.breadcrumb a:active {color:#D9DDE1!important;transition: 2.0s!important;} 
.breadcrumb a:hover {color:#D9DDE1!important;
text-shadow: 0px 0px 0px (255,255,255);transition: 0.8s!important;}

/* CSS CREDIT */


.breadcrumb::after {
        content: "CSS made by Ace Attorney (#506560)";
        color: #D9DDE1;
        position: absolute;
        right: 13%;
        z-index: 100
    }
 
 
.progress-bar {background:#000000!important;}
.progress {background-color:#222A30!important;}
.progress div {color:#D9DDE1;text-shadow: 0px 0px 0px (255,255,255);font-weight: bold;}
 
input[type="text"]{color:black;background:white;border:0px solid #D9DDE1;}
input[type="password"] {color:black;background:white;border:0px solid #D9DDE1;}
textarea {color:black;background:white;border:0px solid #D9DDE1;}
select {color:black;background:white;border01px solid #D9DDE1;}

/* CAVE / MOUND IMAGES */

/* CAVE / MOUND IMAGES */

a[href$="542123"]>div.cave-grid>img {
    content: url('https://i.postimg.cc/nchw3BMJ/Untitled21-20260528180710.webp') !important
}

a[href$=""]>div.cave-grid>img {
    content: url('https://i.postimg.cc/PqXHyPGL/Untitled51.webp') !important
}

a[href$=""]>div.cave-grid>img {
    content: url('https://i.postimg.cc/nchw3BMJ/Untitled21-20260528180710.webp') !important
}

div.cave-grid>img /* Pregnant Lionesses */ {
    content: url('https://i.postimg.cc/nchw3BMJ/Untitled21-20260528180710.webp') !important
}

a[href$="lionoverview.php?id=595440"]>div.cave-grid>img /* Pride Overview */ {
    content: url('https://i.postimg.cc/PqXHyPGL/Untitled51.webp') !important
}


a[href$="unsorted.php?id=595440"]>div.cave-grid>img /* Unsorted */ {
    content: url('https://i.postimg.cc/PqXHyPGL/Untitled51.webp') !important
}


.mound-grid img /* Mound(s) */ {
    background: url("https://i.postimg.cc/zXZCdkXj/Untitled18.webp");
    width: 0;
    height: 0;
    padding-top: 80px;
    padding-right: 130px
}

/* Dynasty, achievements, etc */
img[src$="den_ancestors.png"] /* King Dynasty */ {
content: url('https://i.postimg.cc/7Y5XV6cF/Untitled50.webp') !important;
height: xxpx !important;
opacity: 100%;
transition: opacity 0.3s ease; } /* Dunno what this does, but it's probably fine... */

img[src$="den_ancestorsfem.png"] /* Pride Dynasty */ {
content: url('https://i.postimg.cc/7Y5XV6cF/Untitled50.webp') !important;
height: xxpx !important;
opacity: 100%;
transition: opacity 0.3s ease; }

img[src$="den_achievements.png"] /* Achievements */ {
content: url('https://i.postimg.cc/7Y5XV6cF/Untitled50.webp') !important;
height: xxpx !important;
opacity: 100%;
transition: opacity 0.3s ease; }

img[src$="den_showcase.png"] /* Showcase */ {
content: url('https://i.postimg.cc/7Y5XV6cF/Untitled50.webp') !important;
height: xxpx !important;
opacity: 100%;
transition: opacity 0.3s ease; }

img[src$="den_beetlebook.png"] /* Beetle Book */ {
content: url('https://i.postimg.cc/7Y5XV6cF/Untitled50.webp') !important;
height: xxpx !important;
opacity: 100%;
transition: opacity 0.3s ease; }

/* Featured lion BG */
img[src$="default.png"] {
content: url('https://i.postimg.cc/qv8sbCG1/Untitled49.webp') !important;
height: xxpx !important;
opacity: 100%;
transition: opacity 0.3s ease; }

/* Arrows, for caves */

img[src$="arrowleft.png"] {
content: url('https://i.postimg.cc/qqhn8tRK/Untitled41.webp') !important;
width: XXpx !important; }

img[src$="arrowgrayleft.png"] {
content: url('https://i.postimg.cc/qqhn8tRK/Untitled41.webp') !important;
width: XXpx !important; }

img[src$="arrow.png"] {
content: url('https://i.postimg.cc/0jTSZ8M4/Untitled42.webp') !important;
width: XXpx !important; }

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */


@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}


@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}

 
div.container.main 
{
background:rgba(6,19,29, 0.5);
box-shadow:none;
border:0px solid #06131D;
}

div.item.center.floatleft.small {background:#222A30!important;border:0px solid #FFFFFF;}
div.item-header {background:#222A30; color:#06131D;}

 
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
content: url('https://i.postimg.cc/vBNzHpHK/Untitled17.webp')
;}

.s-chat-message:nth-child(odd) {
    background: #222A30;
    color: #06131D;
    text-shadow: none;
    
}

.s-chat-message:nth-child(even) {
    background: #222A30;
    color: #06131D;
    text-shadow: none;
}

.s-chat-message:nth-child(odd) a:link 
{color:#D9DDE1!important;}
 
.s-chat-message:nth-child(odd) a:visited 
{color:#D9DDE1!important;} 
 
.s-chat-message:nth-child(odd) a:hover
{color:#D9DDE1!important; text-shadow: 0px 0px 0px (255,255,255);}  
 
.s-chat-message:nth-child(odd) a:active 
{color:#D9DDE1!important;}  

.s-chat-message:nth-child(even) a:link 
{color:#D9DDE1!important;}
 
.s-chat-message:nth-child(even) a:visited 
{color:#D9DDE1!important;} 
 
.s-chat-message:nth-child(even) a:hover
{color:#FFFFFF!important; text-shadow: 0px 0px 0px (255,255,255);}  
 
.s-chat-message:nth-child(even) a:active 
{color:#FFFFFF!important;}  
 
div.col-md-9.col-xs-12 {background:none;border:none;}

Original CSS by Shad 16848
