@import "https://fonts.googleapis.com/css?family=Satisfy";
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

.boxcontainer {
background: none;
margin-left: auto;
margin-right: auto;
width: 620px;
height: auto;
}

.scrollBoxLeft, .scrollBoxRight, .scrollBoxCenter {
background: rgba(99, 92, 142, 0.4);
width: 300px;
height: 400px;
border: 0px dashed #FFFFFF;
border-radius: 10px;
padding: 1px;
color: #FFFFFF;
text-align: center;
margin-bottom: 1%;
overflow: auto;
}

.scrollBoxLeft {
  float: left;
}

.scrollBoxRight {
  float: right;
}

.scrollBoxCenter {
  float: center;
}


::-webkit-scrollbar {
width: 10px;}
 
::-webkit-scrollbar-track {
background-color: #BF9000;}
 
::-webkit-scrollbar-thumb {
background-color: #BF9000;
border-radius: 0px;
border: none;}


body 
{
background:url("https://i.postimg.cc/sgBvndWk/image-(2).webp");
background-attachment:fixed;
background-size:100%;
color:#FFFFFF!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 0.8);
}

.col-md-3 .panel {
    background: rgba(235, 211, 207, 0.8);
    color: black;
    border: 1px dashed white;
    box-shadow: 0px 0px 0px #FFFFFF;}


body > div.container.main > div:nth-child(2) > div.col-md-9.col-xs-12 > div.floatright > a > img {
content: url('https://i.imgur.com/XpQ9V9R.png')
;}

body > div.container.main > div:nth-child(2) > div.col-md-9.col-xs-12 > div.floatleft > a > img {
content: url('https://i.imgur.com/koeXPia.png')
;}


.badge {background: #BF9000;color: #23319C;}
.alert-danger {background: rgba(211, 142, 149, 0.6);color:#FFFFFF!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 0.8);border: none;text-align: center;}
.alert-success {background: rgba(211, 142, 149, 0.6);color:#FFFFFF!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 0.8);border: none;text-align: center;}
.center.b {color:#FFFFFF;}
 
 
h1 {color:#FFFFFF;text-align:center;font-family: 'Mountains of Christmas';font-size:60px!important;text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);}

h1 small{color:#FFFFFF;text-align:center;font-family: 'Mountains of Christmas';font-size:30px!important;text-shadow: 1px 0px 8px rgba(250, 250, 250, 0.9);}



h1 small a:link 
{color:#BF9000!important;}
 
h1 small a:visited 
{color:#BF9000!important;} 
 
h1 small a:hover
{color:#BF9000!important; text-shadow: 1px 0px 8px rgba(255, 250, 250, 1);}  
 
h1 small a:active 
{color:#BF9000!important;}  

 
h2 {color:#FFFFFF!important;text-align:center;font-family: 'Mountains of Christmas';font-size:30px;text-shadow: 1px 0px 8px rgba(250, 250, 250, 0.8);}
 
h3 {color:#FFFFFF!important;text-align:center;font-family:'Mountains of Christmas';font-size:30px;text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);}

.sidebar h3 {color:#FFFFFF!important;text-align:center;font-family:'Mountains of Christmas';font-size:30px;text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);}

 
td {background:#081366 !important;
color:#23319C!important;}
 
td.right {background:#081366!important;color:#23319C!important;border-color:#FFFFFF;}

td.right a:link {color:#171520!important;
transition: 2.0s!important;}
td.right a:visited {color:#171520!important;transition: 2.0s!important;} 
td.right a:active {color:#171520!important;transition: 2.0s!important;} 
td.right a:hover {color:#635C8E!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);transition: 0.8s!important;}


td.right_odd {background:#DFB8B1!important;color:#171520!important;}

td.right_odd a:link {color:#171520!important;
transition: 2.0s!important;}
td.right_odd a:visited {color:#171520!important;transition: 2.0s!important;} 
td.right_odd a:active {color:#171520!important;transition: 2.0s!important;} 
td.right_odd a:hover {color:#635C8E!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);transition: 0.8s!important;}
 
td.left {background:#EBD3CF!important;color:#171520!important;border-color:#FFFFFF;}
td.left.b {background:#D38E95!important;color:#171520!important;border-color:#FFFFFF;}
 
td.right_cub {background:#EBD3CF!important;color:#171520!important;}

td.right_cub a:link {color:#171520!important;
transition: 2.0s!important;}
td.right_cub a:visited {color:#171520!important;transition: 2.0s!important;} 
td.right_cub a:active {color:#171520!important;transition: 2.0s!important;} 
td.right_cub a:hover {color:#635C8E!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);transition: 0.8s!important;}
 
.featured-lion {background:#D38E95!important;color:#171520!important;border-color:#FFFFFF!important;}
.featured-lion a:active {color: #171520!important;text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);}
.featured-lion a:visited {color: #171520!important;text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);}
 
 
td.top {
background:#635C8E!important;color:#EBD3CF!important;text-align:center;
}
 
th {
background:#635C8E!important;color:#EBD3CF!important;text-align:center;
}
 
td.bottom {
background:#635C8E!important;color:#EBD3CF!important;text-align:center;
}
 
 
div.left {background:#635C8E!important;color:#EBD3CF!important;}
 
 
a:link {color:#FFFFFF!important;
transition: 2.0s!important;}
a:visited {color:#FFFFFF!important;transition: 2.0s!important;} 
a:active {color:#FFFFFF!important;transition: 2.0s!important;} 
a:hover {color:#171520!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);transition: 0.8s!important;}

.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {border-bottom: 0px solid #FFFFFF;}

div.left a {
    color: #EBD3CF;}
 
.table a:link 
{
color:#EBD3CF!important;
transition: 2.0s!important;
}

.table {
    border: 0px solid #FFFFFF;
}
  
.table a:visited 
{
color:#EBD3CF!important;
} 
 
.table a:hover
 {
color:#FFFFFF!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);
transition: 0.8s!important;
}
 
.table a:active 
{
color:#EBD3CF!important;
}  
 
 
.sidebar {background:rgba(211, 142, 149, 0.5)!important;color:#EBD3CF;border:0px solid black;}
 
.panel-body.small {background: rgba(233, 164, 151, 0.8);color:#171520;box-shadow:none;border:0px solid black;}

.panel-body.small a:link {
color:#171520!important;
transition: 2.0s!important;
}

.panel-body.small a:visited {
color:#171520!important;
transition: 2.0s!important;
}

.panel-body.small a:active {
color:#171520!important;
transition: 2.0s!important;
}

.panel-body.small a:hover {
color:#635C8E!important;
transition: 0.8s!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1)
}

.panel {
    background: none;
    color: none;
    border: none;
    box-shadow: 0px 0px 0px #FFFFFF;}

 
.xsmall {background: none;}
.item {
    background: none;
    border: 0px solid #FFFFFF;}

.item-footer {
    padding: 3px;
    font-size: 11px;
    color: #171520;
    font-weight: bold;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #D38E95;
    margin-top: 9px;}
 
.chatContainer {border:0.5px dashed #FFFFFF;}
 
.chat_light {color:#171520;background:#DFB8B1;border-bottom:0.2px solid rgba(1,19,33,0.1);}

.chat_light a:link {color:#171520!important;
transition: 2.0s!important;font-weight: bold;}
.chat_light a:visited {color:#171520!important;transition: 2.0s!important;font-weight: bold;} 
.chat_light a:active {color:#171520!important;transition: 2.0s!important;font-weight: bold;} 
.chat_light a:hover {color:#635C8E!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);transition: 0.8s!important;font-weight: bold;}
 
.chat_dark {color:#171520;background:#D38E95;border-bottom:0.2px solid rgba(1,19,33,0.1);}

.chat_dark a:link {color:#171520!important;
transition: 2.0s!important;font-weight: bold;}
.chat_dark a:visited {color:#171520!important;transition: 2.0s!important;font-weight: bold;} 
.chat_dark a:active {color:#171520!important;transition: 2.0s!important;font-weight: bold;} 
.chat_dark a:hover {color:#635C8E!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);transition: 0.8s!important;font-weight: bold;}
 
 
.topbar {background:#171520; color: #EBD3CF;}
.topbar a:link 
{color:#EBD3CF;
transition: 0.5s;}
 
.topbar a:visited 
{color:#EBD3CF;} 
 
.topbar a:hover
{color:#FFFFFF!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);
transition: 0.5s!important;}
 
.topbar a:active 
{color:#EBD3CF!important;}  
 
input[type="submit"] {
background:#E9A497;
color:#171520;
border: 1px solid #FFFFFF;
transition: 1.0s!important;
text-shadow:none;
box-shadow:none;}
 
input[type="submit"]:hover {
background:#EBD3CF;
color:#171520;
border: 1px solid #FFFFFF;
transition: 1.0s!important;
text-shadow:none;
box-shadow:none;}
 
input[type="button"] {
background:#E9A497;
color:#171520;
border: 1px solid #FFFFFF;
transition: 1.0s!important;
text-shadow:none;
box-shadow:none;}
 
input[type="button"]:hover {
background:#EBD3CF;
color:#171520;
border: 1px solid #FFFFFF;
transition: 1.0s!important;
text-shadow:none;
box-shadow:none;}
 
.cave-grid {background:#635C8E;border:0px solid #FFFFFF;}
.mound-grid {background:#635C8E;border:0px solid #FFFFFF;}

.cave-grid a:link {color:#EBD3CF!important;
transition: 2.0s!important;}
.cave-grid a:visited {color:#EBD3CF!important;transition: 2.0s!important;} 
.cave-grid a:active {color:#EBD3CF!important;transition: 2.0s!important;} 
.cave-grid a:hover {color:#FFFFFF!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);transition: 0.8s!important;}

.mound-grid a:link {color:#EBD3CF!important;
transition: 2.0s!important;}
.mound-grid a:visited {color:#EBD3CF!important;transition: 2.0s!important;} 
.mound-grid a:active {color:#EBD3CF!important;transition: 2.0s!important;} 
.mound-grid a:hover {color:#FFFFFF!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);transition: 0.8s!important;}


.sub_menu {background:#635C8E;color:#171520;border:0px solid #FFFFFF;}
.sub_menu a:link, .sub_menu a:visited, .sub_menu a:active, .sub_menu a:hover {
    color: #EBD3CF;}
.sub_menu_item_selected {
    background: #9B84A4;
    color: #FFFFFF;
    padding: 10px 15px;
    float: left;
    font-weight: bold;}

.feature {background:#DFB8B1!important;color:#171520!important;border:0px solid #FFFFFF!important;}

 
.navbar
{background:#171520;color:#EBD3CF!important;font-size:18px!important;font-family:'Mountains of Christmas'!important;text-align:center;}
 
.navbar-default .navbar-nav > li > a {background:#171520;color:#EBD3CF!important;font-family: 'Mountains of Christmas';font-size:22px!important;text-align:center;}
.navbar-default .navbar-nav > li > a:hover {background:#171520;color:#FFFFFF!important;font-family: 'Mountains of Christmas';text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);font-size:24px!important;transition: 0.5s!important;text-align:center;}
 
 
.breadcrumb {background: rgba(99, 92, 142, 0.8);color:#EBD3CF!important;border: none;}

.breadcrumb>.active {
    color: #EBD3CF;}

.breadcrumb a:link {color:#EBD3CF!important;
transition: 2.0s!important;}
.breadcrumb a:visited {color:#EBD3CF!important;transition: 2.0s!important;} 
.breadcrumb a:active {color:#EBD3CF!important;transition: 2.0s!important;} 
.breadcrumb a:hover {color:#FFFFFF!important;
text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);transition: 0.8s!important;}
 
 
.progress-bar {background:#D38E95!important;}
.progress {background-color:#EBD3CF!important;}
.progress div {color:#171520;text-shadow: 1px 0px 8px rgba(250, 250, 250, 1);font-weight: bold;}
 
input[type="text"]{color:black;background:white;border:1px solid #BA4E58;}
input[type="password"] {color:black;background:white;border:1px solid #BA4E58;}
textarea {color:black;background:white;border:1px solid #BA4E58;}
select {color:black;background:white;border:1px solid #BA4E58;}
 
div.container.main 
{
background:rgba(233, 164, 151, 0.2);
box-shadow:none;
border:1px solid #171520;
}

div.item.center.floatleft.small {background:#EBD3CF!important;border:1px solid #FFFFFF;}
div.item-header {background:#D38E95; color:#171520;}

 
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
content: url('https://i.imgur.com/t7iiDQ2.png')
;}

.s-chat-message:nth-child(odd) {
    background: #DFB8B1;
    color: #171520;
    text-shadow: none;
    
}

.s-chat-message:nth-child(even) {
    background: #d49e94;
    color: #171520;
    text-shadow: none;
}

.s-chat-message:nth-child(odd) a:link 
{color:#FFFFFF!important;}
 
.s-chat-message:nth-child(odd) a:visited 
{color:#FFFFFF!important;} 
 
.s-chat-message:nth-child(odd) a:hover
{color:#FFFFFF!important; text-shadow: 1px 0px 8px rgba(255, 250, 250, 1);}  
 
.s-chat-message:nth-child(odd) a:active 
{color:#FFFFFF!important;}  

.s-chat-message:nth-child(even) a:link 
{color:#FFFFFF!important;}
 
.s-chat-message:nth-child(even) a:visited 
{color:#FFFFFF!important;} 
 
.s-chat-message:nth-child(even) a:hover
{color:#FFFFFF!important; text-shadow: 1px 0px 8px rgba(255, 250, 250, 1);}  
 
.s-chat-message:nth-child(even) a:active 
{color:#FFFFFF!important;}  
 
div.col-md-9.col-xs-12 {background:none;border:none;}

Original CSS by Shad 16848
